<div class="container-fluid">
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(/../../assets/bridge.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
  
        <!-- Content -->
        <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Centuary Quotes</h5>
        <h2 class="card-title h2 my-4 py-2">Share your wisdom with the world ... share your quote ...! </h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Be the originator of your quote, let the world remember your wisdom even after you are gone...</p>
        <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>
  
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>
