<div class="container-fluid">
    <div class="icons">
        <button (click)="upVote()"><i class="fa fa-thumbs-up fa-2x" style="color: green;"></i><span style="font-size: 15px;">  {{   thumbsUp }}</span></button>
        <button (click)='downVote()'><i class="fa fa-thumbs-down fa-2x" style="color:rgba(255, 102, 0, 0.637);"></i>      {{ thumbsDown }}</button>
    <button (click)='quoteDelete(true)' (isComplete)="true"><i class="fas fa-trash-alt fa-2x" style="color:red;"></i></button>
    </div>
</div>
