

.quotes-body{
    padding: 15px;
    border: 3px solid #b0d2cb;
    border-radius: 10px;
    color: #0b4237;
    box-sizing: border-box;
    font-family: 'Srisakdi';
    letter-spacing: 4px;
    font-size: 17px;
    border-left-width: 10px;
    box-shadow: 10px 5px 10px #0b4237;
    text-align: center;

    .myquotes h2{
        text-decoration: underline;
    }
}

#toggle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#headquote{
    font-family: 'Marck Script';
    font-weight: bold;
    letter-spacing: 10px;
    text-decoration: underline;
}

