<app-form-input (addQuote)="addNewQuote($event)"></app-form-input>

<div class="container-fluid">
    
<div class="jumbotron text-center blue-grey lighten-5">

  

    <h2 id="headquote" class="card-title h2 mt-4">Quotes Of The Decade</h2>
    
    <div *ngFor="let quote of quotes;let i = index;" class="row d-flex justify-content-center">
  
      <div id="quotes" class="col-xl-7 pb-2 quotes-body">

        <div class="myquotes">
          <h2>Quote...</h2>
          <h4>{{ quote.quote }}</h4>
        </div>

        <div class="myquotes">
          <h2>Author...</h2>
          <h4>{{ quote.author }}</h4>
        </div>

        <div class="myquotes">
          <h2>Submited By...</h2>
          <h4>{{ quote.submitter }}</h4>
        </div>

        <div class="myquotes">
          <h2>From Date...</h2>
          <h4>{{ quote.date  }}</h4>
        </div>

        <app-quote-details [quotes]="quotes" isComplete="deleteQuote($event)"></app-quote-details>


        <button id="toggle">View Details</button>

    </div>
  </div>
</div>
</div>
