

.my-quotes{
    padding: 15px;
    border: 3px solid #b0d2cb;
    border-radius: 10px;
    color: #0b4237;
    box-sizing: border-box;
    font-family: 'Srisakdi';
    letter-spacing: 4px;
    font-size: 17px;
    border-left-width: 10px;
    box-shadow: 10px 5px 10px #0b4237;
    text-align: center;

    button{
        border: none;
    }
    button:hover{
      box-shadow: 5px 2px 5px 2px black;
      transition: all ease-in 0.1s;
      transform: scale(1.1);
    }
}

#headquote{
    font-family: 'Marck Script';
    font-weight: bold;
    letter-spacing: 10px;
    text-decoration: underline;
}

.like{
    color: green;
}

.dislike{
    color: rgba(255, 102, 0, 0.637);
    font-size: 14px;
}

.delete{
    color: red;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}