<div class="container-fluid">
    
<div class="jumbotron text-center blue-grey lighten-5">

    <form id="addtoquotes">

        <div class="md-form input-with-pre-icon">
            <i class="fa fa-quote-left input-prefix"></i>
            <input type="text" id="quoteinput" class="form-control">
            <label for="quoteinput">Add Your Quote Here... </label>
          </div>
        
            <button type="submit" id="addquote" class="btn blue-gradient btn-rounded"><i class="fa fa-quote-left"></i> Add Quote</button>
        
        
        
    </form>

    <h2 class="card-title h2 mt-4">Quotes Of The Week</h2>
    
    <div class="row d-flex justify-content-center">
  
      <div  id="quotes" class="col-xl-7 pb-2 my-quotes">
          <p><i class="fa fa-quote-left"></i> {{ quoteOne }} <i class="fa fa-quote-right"></i></p>
          <p><i class="fa fa-quote-left"></i> {{ quoteTwo }} <i class="fa fa-quote-right"></i></p>
          <p><i class="fa fa-quote-left"></i> {{ quoteThree }} <i class="fa fa-quote-right"></i></p>
      </div>
  
    </div>
  
    <hr class="my-4 pb-2">
  
    <button class="btn btn-indigo btn-rounded">Download <i class="fas fa-download ml-1"></i></button>
  
  </div>

</div>